{% extends 'base.html' %}

{% block content %}

{% load static %}
<section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 ftco-animate">
          <form action="{% url 'shipping_add_address' %}" method="post" class="billing-form ftco-bg-dark p-3 p-md-5">
            {% csrf_token %}
                          <h3 class="mb-4 billing-heading">Billing Details</h3>
                <div class="row align-items-end">
                    <div class="col-md-6">
                      <div class="label-input-vertical">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="fname" id="firstName" placeholder="Enter First Name" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="label-input-vertical">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lname" id="lastName" placeholder="Enter Last Name" required>
                    </div>
              </div>
              
                <div class="col-md-6">
                  <div class="label-input-vertical">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Address" required>
                </div>
              
              </div>
              <div class="col-md-6">
                <div class="label-input-vertical">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="tel" class="form-control" name="phone" id="phoneNumber" placeholder="Enter Phone Number" required>
              </div>
              </div>
              <div class="col-md-6">
                <div class="label-input-vertical">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" name="address" id="address" placeholder="Enter Address" required>
              </div>
            
            </div>
            <div class="col-md-6">
              <div class="label-input-vertical">
                <label for="country">Country</label>
                <input type="text" class="form-control" name="country" id="country" placeholder="Enter Country" required>
            </div>
            </div>
             
               
                <div class="w-100"></div>
                <div class="col-md-6">
                  <div class="label-input-vertical">
                    <label for="state">State</label>
                    <input type="text" class="form-control" name="state" id="state" placeholder="Enter State" required>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="label-input-vertical">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id="city" placeholder="Enter City" required>
                </div>
              </div>
                  <div class="w-100"></div>
                  
                  <div class="col-md-6">
                    <div class="label-input-vertical">
                      <label for="pinCode">Pin Code</label>
                      <input type="text" class="form-control" name="pincode" id="pinCode" placeholder="Enter Pin Code" required>
                  </div>
                  </div>
                  
                  <div class="w-100"></div>
                  
                  <button type="submit" class="btn btn-primary">Add Address</button>
          </form>
              



            <!--  -->
  </section> <!-- .section -->
  {% endblock %}