{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
  .ptag{

    color:#c49b63;

  }
</style>

<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url({% static 'images/bg24.jpg' %})">
    <!-- Set background image using inline CSS -->
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
        <div class="col-md-8 col-sm-12 text-center ftco-animate">
          <span class="subheading">Welcome</span>
          <h1 class="mb-4">ART LOVER ?</h1>
          <p class="mb-4 mb-md-5">You came to the right place !</p>
           
            
        </div>
      </div>
    </div>
  </div>


  <div class="slider-item" style="background-image: url({% static 'images/BG12.jpeg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-8 col-sm-12 text-center ftco-animate">
          <span class="subheading">Welcome</span>
          <h1 class="mb-4">ART LOVER ?</h1>
          <p class="mb-4 mb-md-5">I think, if one is a true art lover, he can’t stick to a particular genre. Art knows
            no partitions, no boundaries.</p>
            
        </div>

      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url({% static 'images/BG11.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-8 col-sm-12 text-center ftco-animate">
          <span class="subheading">Welcome</span>
          <h1 class="mb-4">ART LOVER ?</h1>
          <p class="mb-4 mb-md-5">Art attracts us only by what it reveals of our most secret self.</p>
          
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-intro">
  <div class="container-wrap">
    <div class="wrap d-md-flex align-items-xl-end">
      <div class="info">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-phone"></span></div>
            <div class="text">
              <h3>000 (123) 456 7890</h3>
              <p>you can contact this number for reciceved in defact Products.</p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-my_location"></span></div>
            <div class="text">
              <h3>location</h3>
              <p> Anywhere you can get it .all over India </p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-clock-o"></span></div>
            <div class="text">
              <h3>24 * 7 </h3>
              <p>Free Delivery</p>
            </div>
          </div>
        </div>
      </div>
      <div class="book p-4">
        <h3>comment</h3>
        <form action="#" class="appointment-form">
          <div class="d-md-flex">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group ml-md-4">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
          
          <div class="d-md-flex">
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group ml-md-4">
              <input type="submit" value="Submit" class="btn btn-white py-3 px-4">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url({% static 'images/brush25.jpg' %});"></div>
  <div class="one-half ftco-animate">
    <div class="overlap">
      <div class="heading-section ftco-animate ">
        <span class="subheading">Discover</span>
        <h2 class="mb-4">Our Story</h2>
      </div>
      <div>
        <p class="ptag">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been
          rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little
          Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince
          her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and
          Parole and dragged her into their agency, where they abused her for their.</p>
      </div>
    </div>
  </div>
</section>
<br><br>

<!-- banner carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      {% for bann in banner %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="item" style="position: relative; text-align: center;">
              <img src="{{ bann.image.url }}" alt="no image" class="img-fluid" style="width: 50%; height: 600px;">
              <div class="description-overlay" style="position: absolute; bottom: 0%; left: 40%; transform: translate(-8%, -20%); padding: 5px;">
                <p class="font-weight-bold" style="font-size: 40px; color: white;">{{ bann.description }}</p>

              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class a="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>



<!-- end caourosel -->

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-choices"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Easy to Order</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-delivery-truck"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Fastest Delivery</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="fas fa-paint-brush" style="color: #00000b;"></span>

          </div>

        <div class="media-body">
            <h3 class="heading">Quality Products</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 pr-md-5">
        <div class="heading-section text-md-right ftco-animate">
          <span class="subheading">Discover</span>
          <h2 class="mb-4">Our Products</h2>
          <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
            live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.</p>
          <p>
            <a href="{% url 'shop' %}" class="btn btn-primary btn-outline-primary px-4 py-3">View Full Products</a>
          </p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="menu-entry">
              <a href="#" class="img" style="background-image: url({% static 'images/cat1.jpg' %});"></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-entry mt-lg-4">
              <a href="#" class="img" style="background-image: url({% static 'images/cat2.jpg' %});"></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-entry">
              <a href="#" class="img" style="background-image: url({% static 'images/cat3.jpg' %});"></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="menu-entry mt-lg-4">
              <a href="#" class="img" style="background-image: url({% static 'images/cat4.jpg' %});"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}