{% extends 'base.html' %}

{% block content %}

{% load static %}


<div class="container mt-5 pt-4" >
    
    <div class=" col-6 mx-auto">
  <br><br>
  <h3 class="text-center" style="color: black;">Login</h3>

  <form action="{% url 'userlogin' %}" method="post">
    {% csrf_token %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
    <div class="row">
      <div class="form-group col-12">




        <input type="email" placeholder="email" class="form-control" name="email" id="">
        <input type="password" placeholder="Password" class="form-control" name="password" id="">




      </div>
    </div>

    <p>Don't have an account ? <a href="{% url 'signup' %}">Sign up</a></p>
    

    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
  <br><br>
  <a class="px-2" href="#" data-toggle="modal" data-target="#forgotPasswordModal">Forgot password?</a>
    <!-- <input type="submit" value="Login"> -->
</div>
<br><br>

<!-- modal -->
<div class="modal" id="forgotPasswordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="font-weight: bold; color: black;" class="modal-title">Forgot Password</h5>

        
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'forgotpassword' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Enter your email:</label>
            <input name="email" type="email" class="form-control" id="email" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>



{% endblock %}