{% extends 'base.html' %}

{% block content %}

{% load static %}<br><br><br><br>
 <!-- cart-area-start -->
        <section class="cart-area pb-120 pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-price">Review Text</th>
                                            <th class="product-price">Rating</th>
                                        
                                    
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for review in reviews %}
                                        <tr>
                                            <td class="image-prod">
                                                <div class="img" style="background-image: url('{{ review.product.image.url }}'); background-size: cover; width: 100px; height: 100px;"></div>
                                              </td>
                                            <td class="product-name"><a href="shop-details.html">{{review.product.product_name}}</a></td>
                                            <td class="product-price"><span class="amount">₹ {{review.product.price}}</span></td>
                                            <td class="product-price"><span class="amount">₹ {{review.review_text}}</span></td>
                                            <td class="product-price"><span class="amount">₹ {{review.review_rating}}</span></td>
                                            
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    

{% endblock %}