{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>

    <div class="container mt-5">
        <div class="row col-md-12">
            <div class="col-md-4">
                <!-- Account Details Box -->
                <div class="card">
                    <div class="list-group"><br>
                        <a href="{% url 'profile' %}" class="list-group-item list-group-item-action active">Account Details</a>
                        <a href="{% url 'address' %}" class="list-group-item list-group-item-action">Address</a>
                        <a href="{% url 'changepassword' %}" class="list-group-item list-group-item-action">Change Password</a>
                        
                        
                        
                        <a href="{% url 'wallet' %}" class="list-group-item list-group-item-action">Wallet</a>
                        <a href="{% url 'userlogout' %}" class="list-group-item list-group-item-action">Log Out</a>
                    </div>
                </div>
                
                
            </div>
            <div class="col-md-8">
                 <!-- <h4>balance:{{ customer.wallet_bal }}</h4>  -->
                <table class="table table-bordered text-center mb-0">
                    <thead class="text-dark">
                        <tr>
                            
                            <th>Date</th>
                            <th>Status</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in wallet_transactions %}
                        <tr style=" color: white;">
                            <td>{{ i.created_at }}</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.amount }}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                </table>
               
            </div>    
        </div>













{% endblock %}